<header class="navbar navbar-expand-lg navbar-light bg-light mb-4">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">書籍管理</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link">{{ current_user.name }}</a>
                </li>
                <li class="nav-item me-5">
                    <a class="nav-link" href="{{ url_for('login.logout_get') }}">ログアウト</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('borrow.borrows_get') }}">借りている本</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('books.books_get') }}">本管理</a>
                </li>
            </ul>
        </div>
    </div>
</header>